.Adder
  padding: 27px
  margin-bottom: 10px
  form
    display: flex
    align-items: flex-end
    justify-content: space-between
    flex-wrap: wrap
    @media screen and (max-width: 600px)
      flex-direction: column
    div
      width: 20%
      text-align: left
      @media screen and (max-width: 600px)
        width: 100%
      label 
        display: inline-block
        margin-left: 2px
        @media screen and (max-width: 600px)
          margin: 15px 2px 3px 
    input
      height: 37px
      width: 100%
      padding-left: 10px
      background: #50597b
      font: inherit
      color: #fff
      border: solid 1px #1f253d
      border-radius: 5px
      &:focus
        outline: none
        border-color: #11a8ab
    select
      height: 37px
      color: inherit
      padding: 5px
      display: block
      width: 70px
      line-height: 32px
      outline: none
      border: none
      background: #50597b
      font-size: 17px
      text-align: center
      @media screen and (max-width: 600px)
        width: 100%
      option:first-child
        background-color: #ff3c65
      option:last-child
        background-color: #28a745
