.Item
  display: flex
  align-items: center
  justify-content: flex-start
  margin-bottom: 11px
  span
    text-align: left
    padding: 3px
    display: inline-block
    overflow: auto
.ItemType
  width: 20px
.ItemValue
  width: 65px
.ItemName
  width: 25%
  margin-left: 20px
.ItemCategory
  width: 25%

.Negative
  border-bottom: 2px solid #ff3c65
  .ItemType
    color: #ff3c65
.Positive
  border-bottom: 2px solid #28a745
  .ItemType
    color: #28a745